$default-font-family: "HelveticaNeue", sans-serif;
$font-family-source-sans-pro: "Source Sans Pro", sans-serif;
$primary-color: #134880;
$secondary-color: #484a4c;
$bg-color: #dddddd;
$text-color: #ffffff;
